
h1 {
    color:white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

nav {
    background-color: gold;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;       
    gap: 20px; 
}

.headbackground {
    background-color: red;
}

section.founding {
    background-color: #f0f8f0;
    color: #003300;
    padding: 40px 20px;
    overflow: hidden;
}

.foundingh2 {
    color: #a00000;
}

.foundingp {
    line-height: 1.7;
    margin-bottom: 20px;
}

.founders {
    float: right;
    max-width: 40%;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 8px;
}

section.golden {
    background-color: #fff5cc;
    color: #a00000;
    padding: 40px 20px;
}

.goldenh2 {
    color: #a00000;
}

.goldenp {
    line-height: 1.7;
    margin-bottom: 20px;
}


section.modern {
    background-color: #e6f2e6;
    color: #004400;
    padding: 40px 20px;
}

.modernh2 {
    color: #a00000;
}

.modernp {
    line-height: 1.7;
    margin-bottom: 20px;
}